* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  width: 100%;
  position: fixed;
}
@media (max-width: 767px) {
  .app.expanded {
    position: relative;
  }
}
.app-flex {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}
.controls {
  transition: 1s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  border-radius: 8px;
  background: gainsboro;
}
@media (max-width: 767px) {
  .controls {
    position: absolute;
    z-index: 3;
    left: 0;
    right: 0;
    top: 50px;
    bottom: calc(100vh + 50px);
    height: 100vh;
  }
  .controls > .search #controlsDrawerToggle > i {
    transform: rotate(180deg);
    transition: 0.5s ease-in-out;
  }
}
@media (min-width: 768px) {
  .controls {
    position: relative;
    flex: 1 0 25%;
  }
}
@media (max-width: 767px) {
  .controls.collapsed {
    top: calc(100vh - 50px);
  }
  .controls.collapsed > .search #controlsDrawerToggle > i {
    transform: rotate(0deg);
  }
}
.map-container {
  flex: 1 0 75%;
}
.search {
  padding: 0 16px;
  background: gainsboro;
  flex: 1 0 25%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}
@media (max-width: 767px) {
  .search {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
}
#controlsDrawerToggle {
  border: none;
  width: 100%;
  background: transparent;
}
@media (min-width: 768px) {
  #controlsDrawerToggle {
    display: none;
  }
}
#controlsDrawerToggle > i {
  line-height: 40px;
  font-size: 30px;
}
#searchForm {
  margin: auto;
  width: 100%;
  background: gainsboro;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
}
#searchInput {
  flex: 1 0 auto;
  border: none;
  background: gainsboro;
  border-radius: 8px;
  box-shadow: inset 4px 4px 8px 0 rgba(0, 0, 0, 0.2), inset -4px -4px 8px 0 rgba(255, 255, 255, 0.8);
  line-height: 40px;
  padding: 0 16px;
}
#searchSubmit {
  flex: 0 0 auto;
  border: none;
  background: gainsboro;
  border-radius: 8px;
  box-shadow: 6px 6px 16px 0 rgba(0, 0, 0, 0.2), -6px -6px 16px 0 rgba(255, 255, 255, 0.8);
  width: 40px;
  margin-left: 8px;
}
#searchSubmit > i {
  font-size: 20px;
}
.locations {
  flex: 1 0 75%;
  background: gainsboro;
  padding: 16px;
  border-radius: 8px;
}
.locations-flex {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}
@media (min-width: 768px) {
  .locations-flex {
    padding: 24px;
    height: 70vh;
    overflow-y: scroll;
  }
}
.location {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 16px;
  box-shadow: 6px 6px 16px 0 rgba(0, 0, 0, 0.2), -6px -6px 16px 0 rgba(255, 255, 255, 0.8);
  border-radius: 8px;
}
.location > h3 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: black;
  line-height: 60px;
  margin-right: auto;
}
.location > p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: black;
  line-height: 60px;
  margin-right: 16px;
}
.location-button {
  border: none;
  background: transparent;
  box-shadow: 6px 6px 16px 0 rgba(0, 0, 0, 0.2), -6px -6px 16px 0 rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: black;
  line-height: 40px;
  width: 40px;
  padding: 0 8px;
}
#map {
  width: 100%;
  height: 100%;
}
